.chat--wrapper {
  height: 100vh
}

.chat--left--side .chat--search {
  position: relative;
}

.chat--left--side .chat--search i {
  position: absolute;
  color: #808080;
  font-size: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.chat--left--side .chat--search input {
  padding: 12px 44px;
  background: #ffffff;
  box-shadow: 2.7px 2.7px 20px rgba(218, 218, 218, 0.6);
  border-radius: 27px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #808080;
  border: none;
}

.chat--left--side .chat--search input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #808080;
}

.chat--left--side .chat--list {
  padding-top: 20px;
  height: calc(100vh - 45.6px);
  overflow-y: auto;
}

.chat--left--side .chat--list .chat-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.chat--left--side .chat--list .chat-item.active,
.chat--left--side .chat--list .chat-item:hover{
  background-color: #eddddd;
}

.chat--left--side .chat--list .chat-item .chat-avatar img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.chat--left--side .chat--list .chat-item .chat-details {
  flex: 1;
  min-width: 0;
}

.chat--left--side .chat--list .chat-item .chat-details .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}

.chat--left--side .chat--list .chat-item .chat-details .chat-header .chat-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2c2d3a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.chat--left--side .chat--list .chat-item .chat-details .chat-header .chat-time {
  flex-shrink: 0;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #959595;
}

.chat--left--side .chat--list .chat-item .chat-details .chat-message {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #8b8b8b;
  margin-top: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.chat--left--side .chat--list .chat-item .chat-details .typing-message {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #e40077;
}

.chat--left--side .chat--list .chat-item .chat-badge {
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: 22px;
  height: 22px;
  background: #00c851;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.chat--left--side .chat--list::-webkit-scrollbar {
  display: none;
}

.chat--right--side.no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  flex-direction: column;
  height: 100%;
}

.chat--right--side.no-messages .chatIcon img {
  width: 120px;
}

.chat--right--side.no-messages .chat--with--friends {
  font-weight: 400;
  font-size: 18px;
  color: #979797;
}

.chat--right--side {
  /* padding: 0px 20px; */
  background-color: #f9ecec;
}

.chat--right--side .chat--message--wraper {
  position: relative;
}

.chat--right--side .chat--message--wraper .chat--topbar {
  padding: 10px 20px;
  display: flex;
  column-gap: 14px;
  background-color: #ffff;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.chat--right--side .chat--message--wraper .chat--topbar .user-avatar-circle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat--right--side .chat--message--wraper .chat--topbar .chat-user .user-display-name {
  font-weight: 500;
  font-size: 18px;
  color: #2c2d3a;
}

.chat--right--side .chat--message--wraper .chat--topbar .chat-user .user-identifier {
  font-weight: 500;
  font-size: 14px;
  color: #9c9c9c;
  line-height: 17px;
}

.chat--right--side .chat--message--wraper .chat-messages {
  padding: 20px 20px 125px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100vh - 70.8px);
  overflow: auto;
  background-color: #f9ecec;
}

.chat--right--side .chat--message--wraper .chat-messages .message-bubble {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 18px;
  position: relative;
  word-wrap: break-word;
}

.chat--right--side .chat--message--wraper .chat-messages .message-bubble.sender-message {
  background: #242626;
  align-self: flex-start;
}

.chat--right--side .chat--message--wraper .chat-messages .message-bubble.receiver-message {
  background: #144D38;
  align-self: flex-end;
}

.chat--right--side .chat--message--wraper .chat-messages .message-bubble .message-text {
  margin: 0 0 5px 0;
  line-height: 1.4;
  font-size: 14px;
  color: #fff;
}

.chat--right--side .chat--message--wraper .chat-messages .message-bubble .message-time {
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: right;
  font-weight: 500;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message {
  width: 100%;
  max-width: 35%;
  position: relative;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message.sender-message {
  align-self: flex-start;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message.receiver-message {
  align-self: flex-end;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message img {
  width: 100%;
  border-radius: 22px;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  border-radius: 50%;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message .play-button i {
  color: #fff;
  font-size: 20px;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message .message-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 85%;
}

.chat--right--side .chat--message--wraper .chat-messages .image-message .message-info .message-length-time {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.chat--right--side .chat--message--wraper .chat-messages::-webkit-scrollbar {
  display: none;
}

.chat--right--side .chat--message--wraper .message-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
  align-items: center;
  padding: 14px 19px;
  background: #f9f9f9;
  box-shadow: 0px -1.18374px 45.3371px rgba(0, 0, 0, 0.07);
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field {
  position: relative;
  width: 100%;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field .message-input {
  width: 100%;
  align-items: center;
  padding: 7px 19px;
  background: #ffffff;
  border: 1.2px solid #453737;
  border-radius: 17px;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  color: #a1a1a1;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field .message-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #a1a1a1;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field .camera-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field .camera-btn i {
  font-size: 20px;
  color: #616161;
  cursor: pointer;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .text-area-field .camera-btn i:hover {
  opacity: 0.7;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .voice-message-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 41px;
  min-height: 41px;
  border-radius: 50%;
  background: #f2f2f2;
  border: none;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .voice-message-btn i {
  color: #616161;
  font-size: 20px;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .voice-message-btn:hover {
  background-color: #ccc;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 41px;
  min-height: 41px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(90deg, #f92a9d 0%, #ff5f6d 100%);
  transition: background 0.3s ease;
  cursor: pointer;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .send-button i {
  color: #fff;
  font-size: 20px;
}

.chat--right--side .chat--message--wraper .message-input-container .text-message-inner-container .send-button:hover {
  background: linear-gradient(270deg, #f92a9d 0%, #ff5f6d 100%);
}